Repository LavergneC/JavaRPG, pull requests merged in 2020-04, with the labels that each got.

#4 3 game management part
  .project
  Classic_RPG/bin/.gitignore
  Classic_RPG/src/game/Action.java
  Classic_RPG/src/game/Attack.java
  Classic_RPG/src/game/Classic_RPG.java
  Classic_RPG/src/game/Entity.java
  Classic_RPG/src/game/Level.java
  Classic_RPG/src/game/MagicianCharacteristiques.java
  Classic_RPG/src/game/Monster.java
  Classic_RPG/src/game/Ninja.java
  Classic_RPG/src/game/Player.java
  Classic_RPG/src/game/Random.java
  Classic_RPG/src/game/TestOutput.java
  Classic_RPG/src/game/Turn.java
  Classic_RPG/src/game/Warrior.java
  Classic_RPG/src/game/Wave.java
  Classic_RPG/src/game/Wizard.java
  UMLs/overview_game_management.png
Labels: enhancement

#8 7 reorganize files
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/entities/character/package-info.java
  Classic_RPG/src/entities/characterisics/Characteristics.java
  Classic_RPG/src/entities/characterisics/MagicianCharacteristiques.java
  Classic_RPG/src/entities/characterisics/package-info.java
  Classic_RPG/src/entities/monsters/package-info.java
  Classic_RPG/src/entities/package-info.java
  Classic_RPG/src/game_management/Action.java
  Classic_RPG/src/game_management/Attack.java
  Classic_RPG/src/game_management/Classic_RPG.java
  Classic_RPG/src/game_management/parts/Level.java
  Classic_RPG/src/game_management/parts/Turn.java
  Classic_RPG/src/game_management/parts/Wave.java
  Classic_RPG/src/game_management/parts/package-info.java
  Classic_RPG/src/game_management/random/Random.java
  Classic_RPG/src/game_management/random/TestOutput.java
  Classic_RPG/src/game_management/random/package-info.java
Labels: enhancement

#9 6 better ui
  .gitignore
  Classic_RPG/.classpath
  Classic_RPG/Images/sword.png
  Classic_RPG/bin/.gitignore
  Classic_RPG/miglayout-src.zip
  Classic_RPG/miglayout15-swing.jar
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Classic_RPG.java
  Classic_RPG/src/game_management/GUI.java
  Classic_RPG/src/game_management/Game_action.java
  Classic_RPG/src/game_management/parts/Turn.java
  Classic_RPG/src/module-info.java
Labels: enhancement

#17 Player creation window
  Classic_RPG/Images/knight.png
  Classic_RPG/Images/ninja.png
  Classic_RPG/Images/wizard.png
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Action.java
  Classic_RPG/src/game_management/Action_Enums/Attack.java
  Classic_RPG/src/game_management/Action_Enums/Game_action.java
  Classic_RPG/src/game_management/Action_Enums/package-info.java
  Classic_RPG/src/game_management/Classic_RPG.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/game_management/Interfaces/PlayerCreation.java
  Classic_RPG/src/game_management/Interfaces/package-info.java
  Classic_RPG/src/game_management/Sections/Level.java
  Classic_RPG/src/game_management/Sections/Turn.java
  Classic_RPG/src/game_management/Sections/Wave.java
  Classic_RPG/src/game_management/Sections/package-info.java
  Classic_RPG/src/game_management/parts/package-info.java
Labels: GUI, enhancement

#16 new fonction manaChange and code update
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/character/Wizard.java
Labels: bug, enhancement

#15 14 make the jar file executable
  Classic_RPG/.classpath
  Classic_RPG/.settings/jar_descriptor.jardesc
  Classic_RPG/.settings/org.eclipse.jdt.core.prefs
  Classic_RPG/jar_dsc.jardesc
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/module-info.java
Labels: bug

#18 Add console on interface
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/game_management/Sections/Turn.java
Labels: GUI, enhancement

#20 19 job images in jar mode
  Classic-RPG.jar
  Classic_RPG/jar_dsc.jardesc
  Classic_RPG/src/game_management/Interfaces/PlayerCreation.java
  README.md
Labels: bug

#25 new color for stamina bar
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI

#24 13 display shield bar
  Classic_RPG/Images/flash.png
  Classic_RPG/Images/heart.png
  Classic_RPG/Images/mana.png
  Classic_RPG/Images/shield.png
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI

#26 Try to balance the game
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Classic_RPG.java
  Classic_RPG/src/game_management/Sections/Turn.java
Labels: Game balance

#27 22 manage levels
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/entities/characterisics/Characteristics.java
  Classic_RPG/src/game_management/Classic_RPG.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/game_management/Sections/Turn.java
Labels: Backend, GUI, Game balance

#34 Add special hit for monsters
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/game_management/Sections/Turn.java
Labels: Backend, enhancement

#37 overwrite fonction rest
  Classic-RPG.jar
  Classic_RPG/src/entities/Monster.java
Labels: Game balance

#38 32 create class for monster types
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/entities/monsters/Baby_Dragon.java
  Classic_RPG/src/entities/monsters/Chien.java
  Classic_RPG/src/entities/monsters/Harpy.java
  Classic_RPG/src/entities/monsters/Kiugg.java
  Classic_RPG/src/entities/monsters/Troll.java
  Classic_RPG/src/entities/monsters/Vampire.java
  Classic_RPG/src/game_management/Classic_RPG.java
Labels: Game balance, enhancement

#41 33 add actions costs
  Classic_RPG/src/entities/Player.java
  Classic_RPG/src/entities/character/Ninja.java
  Classic_RPG/src/entities/character/Warrior.java
  Classic_RPG/src/entities/character/Wizard.java
  Classic_RPG/src/game_management/Action_Enums/Measure.java
  Classic_RPG/src/game_management/Interfaces/ActionModifier.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI, enhancement

#40 28 change command display
  Classic_RPG/Images/SpecialHit.png
  Classic_RPG/Images/protect.png
  Classic_RPG/Images/rest.png
  Classic_RPG/src/entities/Entity.java
  Classic_RPG/src/entities/Monster.java
  Classic_RPG/src/entities/monsters/Kiugg.java
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/game_management/Sections/Turn.java
Labels: GUI, enhancement

#47 change mana sheild management
  Classic_RPG/src/entities/character/Wizard.java
Labels: Backend, bug

#44 manage instance of player
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI, bug

#50 change text to icon
  Classic_RPG/Images/return.png
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI, enhancement

#49 fix monster panel
  Classic_RPG/src/game_management/Interfaces/GUI.java
Labels: GUI, bug, enhancement

#53 Change name when theu are bad
  Classic_RPG/src/game_management/Interfaces/GUI.java
  Classic_RPG/src/game_management/Interfaces/PlayerCreation.java
Labels: GUI, bug
